body {
    display: flex;
    margin: 0;
}

[class^="Left"]{
    width: 40vw;
}

[class^="Right"]{
    width: 60vw;
}

.LeftDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: grey;
}

.LeftTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: teal; 
}

.RightDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.RightSignup{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    height: 300px; 
    background-color: black;
    transition: 0.2s ease-in-out;
    color: white;
}

.RightSignup:hover{
    box-shadow: 0px 5px 0px 0px #66ffff, 0px -5px 0px 0px #66ffff;
}

.RightSignupField{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 45%;
    flex-grow: 1;
}

label{
    width: 100%;
    text-align: left;
}

input{
    width: 100%;
}
